.ui.card .content img, .ui.cards > .card .content img {
  width: 100%;
}

.ui.card, .ui.cards > .card {
  box-shadow: none !important;
}

// #projets {
//   background: linear-gradient(to bottom, #fff 0%, #fff0 50%, #fff0 50%, greenyellow 100%);
// }

.picture-projects {
  margin-bottom: 5px;
}