.skills-icon {
  font-size: 2em;
  transition: opacity 0.2s, color 0.2s, transform 0.2s;
 
}

.skills-icon:hover {
  transform: scale(1.5);
}

.icon-skills {
  margin: 1em;
}

@media screen and (max-width: 992px) {
  .skills-icon {
    font-size: 2em !important;
  }
  .text-skills {
    font-size: 0.9em;
  }
}