@import "./components/style/variable.scss";

.ui.icon.center.aligned.header {
  font-family: $Astloch!important;
}

body { 
  font-family: $Tajawal !important;
}

.hover-link:hover, .link-nav:hover {
  color: greenyellow !important;
}

.ui.button:hover {
  background-color: greenyellow!important;
}